.parent {
  border: 3px solid black;
  display: grid;
  font-size: 30px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-template-areas: "logo services expertise contact";

  /* grid-template-rows: 400px 200px 20px; */
  /* grid-gap: 100px; */
}

.child {
  border: 2px solid black;
  font-weight: bold;
  margin: auto;
  padding: 2%;
  width: 80%;
}

.child:nth-child(1) {
  grid-area: logo;
}

.child:nth-child(2) {
  grid-area: services;
}

.child:nth-child(3) {
  grid-area: expertise;
}

.child:nth-child(4) {
  grid-area: contact;
}
.image-Banniere {
  border: 3px solid black;
  text-align: center;
  line-height: 250px;
  font-weight: bold;
  margin-top: 23px;
  display: grid;
  font-size: 30px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, fr);
  grid-template-rows: 100px 100px 100px;
  grid-area: Image de banniere;
  grid-template-areas: "Image de banniere Image de banniere Image de banniere Image de banniere"; */
}

.bloc3 {
  border: 3px solid black;
  display: grid;
  margin-top: 20px;
  font-size: 30px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-template-areas: "apropos apropos Liensrapide liensrapide";
}
.child1{border: 2px solid black;
  font-weight: bold;
  margin: auto;
  padding: 2%;
  width: 80%;}

.child:nth-child(1)
{
  
  grid appearance: apropos ;
}
.child:nth-child(2)
{

  grid appearance: Liensrapide ;
}
.child:nth-child(3)
{
  grid appearance: Liensrapide ;
}

